@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-open {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-container {
    width: 400px;
    min-height: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
  }
  table  tr{
    border-bottom: 1px solid rgba(131, 127, 127,0.4);
  }
  
  table th,table td{
    text-align: center;
    padding: 10px;
    white-space: nowrap;
  }
  table tbody tr:not(.total-table-row):hover{
    background-color: rgba(113, 142, 230, 0.6);
    transition: 0.3s linear;
  }